<% if current_user && @story.users.include?(current_user) %>
	<h1><b>Editing: </b><%= @story.title %></h1>
	<hr><br>

	<div class="row">
 		<div class="col-md-6 col-md-offset-3">
 			<%= form_for(@story) do |f| %>

      		<%= f.label :title %>
      		<%= f.text_field :title, class: "form-control" %>

      		<%= f.label :description %>
      		<%= f.text_area :description, :rows => 3, class: "form-control" %>

      		<%= f.submit "Save Changes", class: "btn btn-large btn-primary" %><br><br>

      		<% end %>
          <%= render "story/contributers" %>
      		<%= button_to('Delete Story', { :action => "destroy", :id => @story.id },
          method: "delete", data: { confirm: 'Are you sure?', disable_with: 'loading...' }, class: "btn btn-large btn-danger") %>
		</div>
	</div>


<% else %>
<center><h1>You do not have permission to access this page</h1>
<h2>Please login to access your spaces</h2></center>
<% end %>



