<h1><b>Spaces</b></h1>
<div class="row">
  <div class="col-md-6">
    <% if @current_user %>
      <center><h3><b>My Spaces</b></h3></center>
      <hr><br>
    <div class="list-group">
        <% if @user_stories.count == 0 %>
        <center> You don't have any stories yet </center>
        <% end %>
        <% @user_stories.each do |story| %>
        <%= link_to(story, :class => "list-group-item") do %>
      <h4 class="list-group-item-heading">
        <%= story.title %><span class="badge alert-inverse pull-right"><%= story.blocks.count %> blocks</span>
      </h4>
      <p class="list-group-item-text">
        <%= story.description %>
      </p>
      <% end %>
      <% end %>
    </div>

      <center><h3><b>New Space</b></h3></center>
      <hr><br>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(@newstory) do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
        <%= f.label :description %>
        <%= f.text_area :description, :rows => 3, class: "form-control" %>
        <%= f.submit "Create New Story", class: "btn btn-large btn-primary" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-md-6">
      <center><h3><b>All Spaces</b></h3></center>
      <hr><br>
    <div class="list-group">
      <% @stories.each do |story| %>
      <%= link_to(story, :class => "list-group-item") do %>
      <h4 class="list-group-item-heading">
        <%= story.title %><span class="badge pull-right"><%= story.blocks.count %> blocks</span>
      </h4>
      <p class="list-group-item-text">
        <%= story.description %>
      </p>
      <% end %>
      <% end %>
    </div>
  </div>
</div>