<script>
	function show(id) {
	  document.getElementById(id).style.visibility = "visible";
	}
	function hide(id) {
	  document.getElementById(id).style.visibility = "hidden";
	}
</script>

<div onMouseOver="show('editlink')" onMouseOut="hide('editlink')">
	<% if current_user && @story.users.include?(current_user) %>
	<span id="editlink"><%= link_to " Edit", [:edit, @story], :class => 'glyphicon glyphicon-pencil badge alert-info pull-right' %></span>
	<% end %>
	<h1><b><%= @story.title %></b><br>
		<small><%= @story.description %></small>
	</h1>
	<hr>
</div>

<%= render "blocks/blocks" %>
<%= render "blocks/form" %>

<div class="row">
	<div class="col-md-6 smalltext">
		<p><b>Contributors: </b>
			<%= @users.map(&:username).join(', ') %>
		</p>
	</div>
	<div class="col-md-6 pull-right smalltext" style="text-align:right">
		<p>Last Edited: <%= @story.updated_at.localtime.strftime("%b %d, %y at %I:%M%p") %></p>
	</div>
</div>