<script>
$(document).ready(function(){
	$("#editlink").hide();

	$("#titlesection").hover(function () {
		$("#editlink").finish().fadeIn("fast");
	},
	function () {
		$("#editlink").finish().fadeOut("fast");
	});
});
</script>

<div id="titlesection">
	<% if current_user && @story.users.include?(current_user) %>
	<span id="editlink" class="pull-right">
		<%= button_to([:edit, @story], :data_toggle => 'tooltip', :title => 'Edit Block', :method => "get", :class => 'btn btn-xs btn-primary') do %>
			<span class="glyphicon glyphicon-pencil"></span>
		<% end %>
	</span>
	<% end %>
	<h1><b><%= @story.title %></b><br>
		<small><%= @story.description %></small>
	</h1>
</div>
<hr>


<div class="row">
	<div class="col-md-6 smalltext">
		<p><b>Contributors: </b>
 			<% @users.each do |user| %>
 			<%= link_to user.username, user %>
 			<% end %>
		</p>
	</div>
	<div class="col-md-6 pull-right smalltext" style="text-align:right">
		<p>Last Edited: <%= @lastedited.updated_at.localtime.strftime("%b %d, %y at %I:%M%p") %></p>
	</div>
</div>

<%= render "blocks/blocks" %>
<%= render "blocks/form" %>
