<% if current_user && (@space.users.include?(current_user) || current_user.admin?) %>
	<h1><b>Editing: </b><%= @space.title %></h1>
	<hr><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-md-6 col-xs-offset-2 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
     			<%= simple_form_for(@space) do |f| %>

          		<%= f.label :title %>
          		<%= f.text_field :title, class: "form-control" %>

          		<%= f.label :description %>
          		<%= f.text_area :description, :rows => 3, class: "form-control" %>

          		<span class="pull-left"><%= f.submit "Save Changes", class: "btn btn-large btn-primary" %></span>
          		<% end %>
              
              <br><br><br><%= render "space/contributers" %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Delete this Space forever:</h3>
      		<span class="pull-left"><%= button_to('Delete Space', { :action => "destroy", :id => @space.id },
          method: "delete", data: { confirm: 'Are you sure?', disable_with: 'loading...' }, class: "btn btn-large btn-danger") %></span>
        </div>
      </div>
		</div>
	</div>
</div>


<% else %>
<center><h1>You do not have permission to access this page</h1>
<h2>Please login to access your Spaces</h2></center>
<% end %>



