<div class="col-xs-8 col-md-12 col-xs-offset-2 col-md-offset-0">
	<div id="titlesection">
		<% if current_user && @space.users.include?(current_user) %>
		<span id="editlink" class="pull-right">
			<%= button_to([:edit, @space], :method => "get", :class => 'btn btn-default btn-link btn-xs') do %>
				<span class="glyphicon glyphicon-pencil"></span><div id="edittext">Edit Space</div>
			<% end %>
		</span>
		<% end %>
		<h1><b><%= @space.title %></b><br>
			<small><%= @space.description %></small><br>
		</h1>
	</div>
	<hr>

	<div class="row">
		<div class="col-md-6 smalltext">
			<p><b>Contributors: </b>
	 			<% @users.each do |user| %>
		 			<%= link_to user.username, user %><%= "," unless user == @users.last %>
	 			<% end %>
			</p>
		</div>
		<div class="col-md-6 pull-right smalltext" style="text-align:right">
			<p>Last Edited: <%= time_ago_in_words(@lastedited.updated_at.to_time) unless @lastedited.updated_at.blank? %> ago</p>
		</div>
	</div>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53dc874307544ad8"></script>


<%= render "blocks/blocks" %>
<%= render "blocks/form" %>

