<script>
$(document).ready(function(){

});
</script>

<div id="titlesection">
	<% if current_user && @space.users.include?(current_user) %>
	<span id="editlink" class="pull-right">
		<%= button_to([:edit, @space], :method => "get", :class => 'btn btn-default btn-link btn-xs') do %>
			<span class="glyphicon glyphicon-pencil"></span><div id="edittext">Edit Space</div>
		<% end %>
	</span>
	<% end %>
	<h1><b><%= @space.title %></b><br>
		<small><%= @space.description %></small>
	</h1>
</div>
<hr>


<div class="row">
	<div class="col-md-6 smalltext">
		<p><b>Contributors: </b>
 			<% @users.each do |user| %>
 			<%= link_to user.username, user %>
 			<% end %>
		</p>
	</div>
	<div class="col-md-6 pull-right smalltext" style="text-align:right">
		<p>Last Edited: <%= @lastedited.updated_at.localtime.strftime("%b %d, %y at %I:%M%p") unless @lastedited.updated_at.blank? %></p>
	</div>
</div>

<%= render "blocks/blocks" %>
<%= render "blocks/form" %>
