<% @space.blocks.order('number').each do |block| %>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
  				<% if %w(youtube vimeo dailymotion soundcloud spotify).any? { |str| block.content.downcase.include? str } %>
  					<div class="embed-responsive embed-responsive-16by9">
  						<iframe class="embed-responsive-item"></iframe>
						<%= block.content.try(:html_safe) %>
					</div>
				<% else %>
					<%= block.content.try(:html_safe) %>
				<% end %>
			</div>

			<div class="panel-footer">
				<small>Posted by: <%= block.user.username unless block.user.blank? %> 
					<%= time_ago_in_words(block.created_at.to_time) %> ago</small>
				<% if current_user && (@space.users.include?(current_user) || current_user.admin?) %>
					<span class="pull-right blockbutton">
					<%= button_to({:controller => :blocks, :action => 'destroy', :id => block.id, :space_id => @space.id }, :method => :delete, data: { confirm: 'Are you sure you want to delete this block?' }, :class => 'btn btn-default btn-link btn-xs') do %>
					<span class="glyphicon glyphicon-remove"><span class="buttontext">Delete</span></span>
					<% end %>

					</span>
					<span class="pull-right blockbutton">
					<%= button_to(edit_space_block_path(@space, block), :method => "get", :class => 'btn btn-default btn-link btn-xs') do %>
					<span class="glyphicon glyphicon-pencil"><span class="buttontext">Edit</span></span>
					<% end %>
					</span>

					<span class="pull-right blockbutton">
					<%= button_to({:controller => :blocks, :action => 'insert', :id => block.id, :space_id => @space.id, :number => block.number}, :method => :get, :class => 'btn btn-default btn-link btn-xs') do %>
					<span class="glyphicon glyphicon-plus"><span class="buttontext">Insert</span></span>
					<% end %>
					</span>

				<% end %>
			</div>
		</div>
	</div>
</div>
<% end %>