<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <%= f.label :login %> <i> (Username or Email)
	  <%= f.email_field :login, autofocus: true, class: "form-control"%>

	  <%= f.label :password %>
	  <%= f.password_field :password, autocomplete: "off", class: "form-control"%>

	  <% if devise_mapping.rememberable? -%>
	    <%= f.label :remember_me do %>
		    Remember Me? <%= f.check_box :remember_me %>
			<% end %>
	  <% end %>
	  <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
